# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Build / cache
dist
.next
.nuxt
out
.parcel-cache
.cache
.temp
.svelte-kit/
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.firebase/

# Env files
.env
.env.*
!.env.example

# Misc
.npm
.eslintcache
.stylelintcache
.node_repl_history
.vscode-test
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Python
venv/
__pycache__/
*.pyc
backend/venv/

# Mac
.DS_Store
backend/neurolims.db


.env
backend/.env
API_Key.env
backend/API_Key.env
